@charset "UTF-8";

:root{
    --cor1:#EFF1F3;
    --cor2:#A7E7F6;
    --cor3:#3FCEF6;
    --cor4:#318EAD;
    --cor5:#225A76;

}

@media screen and (min-width: 1024px) {
    i#burguer{
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li {
        display: inline-block;
       min-width: 10vw;
       
    }

    menu > ul > li > a{
        border-top: 0px;
        background-color: var(--cor5);
    }

    main{
        width: 850px;
    }
}

